body {
	background-color: #e9eaeb;
	font: normal 100% Verdana, Helvetica, sans-serif;
	color: #000;
	margin: auto;
	padding: 0;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	width: 100%;
}
body.dark {
	background-color: #1b1b1b;
	color: #DED9D9;
}
/* This table crap is to get the contents to vertically align, since they won't otehrwise :( */
#table {
  display: table;
  height: 100%;
  width: 100%;
}
#page {
  display: table-cell;
  vertical-align: middle;
}
.wrapper {
	background-color: #fdfdfd;
	text-align: left;
	padding: 5px 18px 5px 18px;
	width: auto;
  border: 1px solid #c9cacb;
	border-radius: 10px;
	display: inline-block;
	position: relative;
}
.dark .wrapper {
	background-color: #252525;
	border: 1px solid #9b9b9b;
}
.popup-wrapper {
  background-color: #fdfdfd;
	text-align: left;
	padding: 5px 10px 5px 10px;
	width: auto;
  border: 1px solid #c9cacb;
	border-radius: 10px;
	display: inline-block;
	position: relative;
}
.dark .popup-wrapper {
	background-color: #252525;
}
a {
	color: inherit;
	text-decoration: none;
}
p {
	clear: both;
	font-size: 0.7em;
	padding-left: 10px;
}
p a:hover {
	text-decoration: underline;
}
p.desc {
	text-align: center;
	color: #8c8c8c;
}
ul {
	padding: 0; margin: 0;
}
#new_account {
	text-align: left;
}
#option_list {
	border-top: 1px solid #d9dadb;
}
ul li {
	color: #333333;
	list-style-type: none;
	font-size: 0.9em;
	font-weight: bold;
	margin: 2px;
	padding: 5px 0 2px 19px;
}
.dark ul li {
	color: #efefef;
}
#user_list li {
	background: url(/images/user.png) no-repeat 4px center;
	cursor: pointer;
}
.dark #user_list li {
	color: #9b9b9b;
	background: url(/images/user-dark.png) no-repeat 4px center;
}
#user_list li:hover {
	background: #ddd url(/images/user_hover.png) no-repeat 4px center;
	color: #147a23;
}
.dark #user_list li:hover {
	color: #147a23;
}
#user_list li.select {
	background: url(/images/user_selected.png) no-repeat 4px center;
	font-weight: bold;
	font-style: italic;
	color: #217a86;
}
.dark #user_list li.select {
	color: #4285f4;
}
#user_list li.select:hover {
	background-color: #ddd;
}
#option_list li {
	cursor: pointer;
	font-weight: normal;
}
.dark #option_list li {
	color: #9b9b9b;
}
#option_list li:hover {
	background-color: #ddd;
	color: #b30000;
}
.dark #option_list li:hover {
	background-color: #ddd;
	color: #4285f4;
}
.site-label {
	color: #666;
	cursor: default;
	font-size: 0.8em;
	padding: 4px;
	text-align: center;
	font-weight: bold;
}
.dark .site-label {
	color: #9b9b9b;
}
button {
	background: url(/images/deleteaccount.png) no-repeat center center;
	border: none;
	cursor: pointer;
	margin: 0 15px 0 4px;
	padding: 0;
	height: 14px;
	width: 13px;
	float: right;
}
button:hover {
	background: url(/images/deleteaccount_hover.png) no-repeat center center;
}
label {
	font: 0.8em Verdana, Helvetica, sans-serif;
	line-height: 1em;
	display: inline;
	text-align: right;
	float: left;
	padding: 6px 10px 4px 0;
	width: 100px;
}
#sitedropdown, #username, #password {
	margin-top: 5px;
	border: 1px solid #7a7a7b;
	background-color: #fafafa;
	width: 140px;
}
#sitedropdown:hover, #username:hover, #password:hover {
	background-color: #f0f0f9;
}
#sitedropdown:focus, #username:focus, #password:focus {
	background-color: #f0f0f0;
}
.dark #sitedropdown, .dark #username, .dark #password {
	background-color: #424242;
	color: #DED9D9;
}
.submit {
	background: #e9eaeb url(/images/addaccount.png) no-repeat 6px 50%;
	font-size: 0.8em;
	cursor: pointer;
	float: right;
	margin: 15px 0 1.5em 0;
	padding: 4px 6px 4px 26px;
	border: 1px solid #c9cacb;
	width: auto;
}
.dark .submit {
	background: #424242 url(/images/addaccount.png) no-repeat 6px 50%;
	color: #DED9D9;
}
.submit:hover {
	color: #147a23;
	background: #f5f6f7 url(/images/addaccount_hover.png) no-repeat 6px 50%;
	border-color: #d9dadb;
}
h1 {
	font-size: 1.3em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 0;
}
h3 {
	font-size: 0.9em;
	color: #217a86;
	font-weight: bold;
}
h3.dark {
	color: #30b1c2;
}
hr {
	width: 75%;
	height: 1px;
	border: 0;
	background-color: #d9dadb;
	margin: 1em auto;
}
